body{
    margin: 0;
    padding: 0;
    background-color:#222;
    overflow-x:hidden;
    
    

}


a{
    text-decoration: none;
    color:#ADADAD;
}


#menu{
   margin: 0em;
   padding-top: 30px;
   font-size: 21px;
   position: relative;
   left: 3.5%;
<<<<<<< HEAD
   width:360px;
=======
   width:325px;
>>>>>>> bdc1443a79fbc1c6c4b04f07ca1b5dfd03c39429

}

a:hover{ color: #3863C1;
<<<<<<< HEAD
    transition:1s;
=======
>>>>>>> bdc1443a79fbc1c6c4b04f07ca1b5dfd03c39429

}

a#a1 {
    padding-right:12px;
    padding-left:13px;
<<<<<<< HEAD
=======
    transition: 0.5s;
>>>>>>> bdc1443a79fbc1c6c4b04f07ca1b5dfd03c39429
    border-right:1px solid;
    border-right-color:#3a3939;
}

a#a2 {
    padding-right:12px; 
<<<<<<< HEAD
=======
    transition: 0.5s;
>>>>>>> bdc1443a79fbc1c6c4b04f07ca1b5dfd03c39429
    padding-left:9px;
    border-right:1px solid;
    border-right-color:#3a3939;
}

a#a3 {
    padding-left: 9px;
    padding-right:13px;
<<<<<<< HEAD
=======
    transition: 0.5s;
>>>>>>> bdc1443a79fbc1c6c4b04f07ca1b5dfd03c39429
    border-right:1px solid;
    border-right-color:#3a3939;
}

a#a4 {
    padding-left: 9px;
    padding-right:13px;
<<<<<<< HEAD
=======
    transition: 0.5s;
>>>>>>> bdc1443a79fbc1c6c4b04f07ca1b5dfd03c39429

}