body{
    margin: 0;
    padding: 0;
    background-color:#222;
    overflow-x:hidden;
}


a{
    text-decoration: none;
    color:#ADADAD;
    font-family:Arial, Helvetica, sans-serif;
}


#menu{
   margin: 0;
   padding-top: 30px;
   font-size: 21px;
   position: relative;
   left: 3.5%;
   width:500px;

}

a:hover{ color: #3863C1;
    transition:1s;

}

a#a1 {
    padding-right:12px;
    padding-left:13px;
    border-right:1px solid;
    border-right-color:#3a3939;
}

a#a2 {
    padding-right:12px; 
    padding-left:9px;
    border-right:1px solid;
    border-right-color:#3a3939;
}

a#a3 {
    padding-left: 9px;
    padding-right:13px;
    border-right:1px solid;
    border-right-color:#3a3939;
}

a#a4 {
    padding-left: 9px;
    padding-right:13px;
    border-right:1px solid;
    border-right-color:#3a3939;
}

a#a5 {
    padding-left: 9px;
    padding-right:13px;
}